{% extends "student/base.html" %}
{% load static %}

{% block title %}
Student -> All Jobs
{% endblock %}

{% block body %}
<!-- 
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-3">All Courses</h5>
      <p class="mb-0">Visit More Courses!</p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 9th Course</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>  
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 10th (Board Special)</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>  
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 11th Course</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s7.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 11th + Neet</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s4.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 11th + Jee</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s1.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 12th (Board Special)</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 12th + Neet</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="card-title fw-semibold mb-3">Recorded + Live</h5>
      <div class="card">
        <img src="{% static 'img/dashboard/images/products/s7.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Class 12th + Jee</h5>
          <p class="card-text">Keep your study ongoing with us.</p>
          <a href="#" class="btn btn-primary">Enroll Now!</a>
        </div>
      </div>
    </div>
  </div>   
</div> -->

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-3">Lots of Opportunities!</h5>
      <p class="mb-0">The Place Where You Unlock Your Potential🔥!</p>
    </div>
  </div>

  <div class="card w-100">
    <div class="card-body p-4">
      <!-- <h5 class="card-title fw-semibold mb-4">Search Applicants 🔍</h5> -->
      <form method="post">

        {% csrf_token %}

        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search by Company Name, Job Role, Tags"
            aria-label="Search by Company Name, Job Role, Tags" aria-describedby="button-addon2" name="query">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
          <!-- make a button to clear the search -->
          <a href="{% url 'all_jobs' %}" class="btn btn-outline-danger">Clear</a>
        </div>
      </form>

      {% if query %}
      <p class="mb-n2 mt-2 fs-4 fw-semibold mx-2">Search Results based on "{{query}}"</p>
      {% endif %}
    </div>
  </div>


  <div class="row">

    {% for job in jobs %}

    <div class="col-sm-6 col-xl-3">
      <div class="card overflow-hidden rounded-2">
        <div class="position-relative">
          <a href="{% url 'job' job.slug %}"><img src="{{ job.company.logo.url }}" class="card-img-top rounded-0"
              alt="..." /></a>
        </div>
        <div class="card-body pt-3 p-4">
          <h6 class="fw-semibold fs-4">{{ job.company.name|title|truncatechars:25 }}</h6>
          <div class="d-flex align-items-center justify-content-between">
            <h6 class="fw-semibold fs-4 mb-1">
              Openings: {{ job.no_of_openings }}<span class="ms-2 fw-normal text-muted fs-3"></span>
            </h6>
          </div>
          <div class="row-cols-lg-3">
            <span class="mb-1">
              {% if job.salary_range %}
              {{ job.salary_range }} |
              {% endif %}
              {{ job.job_type|title }} | {{ job.location_flexibility|title }}</span>
          </div>
          <div class="row-cols-lg-3">
            <span class="mb-1">{{ batch.description }}</span>
          </div>



        </div>
      </div>
    </div>

    {% endfor %}

  </div>

</div>



{% endblock %}