{% extends 'student/base.html' %}
{% load static %}

{% block title %}
Student -> Edit Profile
{% endblock %}

{% block extra_css %}


{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold">Edit Profile</h5>
            <p>For any corrections, contact 
                <a href="{% url 'support' %}">
                Technical Team
            </a>
        </p>
        </div>

        {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message.tag }}</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}

        <div class="container-xl px-4">

            <hr class="mt-0">
            <div class="row">
                <div class="col-xl-4">
                    <!-- Profile picture card-->
                    <div class="card mb-4 mb-xl-0">

                        <form action="{% url 'upload_profile' %}" method="post" enctype="multipart/form-data">

                            {% csrf_token %}

                            <div class="card-header">Profile Picture</div>
                            <div class="card-body text-center">
                                <!-- Profile picture image-->

                                <img style="max-width: 100%; width: 90%;"
                                    class="img-account-profile rounded-circle mb-2" src="{{ student.profile_pic.url }}"
                                    alt="">
                                <!-- Profile picture help block-->
                                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>

                                <label for="file-upload" class="custom-file-upload mb-3">
                                    <i class="fa fa-cloud-upload"></i> Choose Profile Picture
                                </label>
                                <input class="form-control" type="file" 
                                id="formFile" name="profile_pic"
                                accept=".webp, .png, .jpg, .jpeg" required/>

                                <br>

                                <!-- Profile picture upload button-->
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-8">
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Your Details</div>
                        <div class="card-body">
                            <form method="post">

                                {% csrf_token %}

                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (first name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputFirstName">First name</label>
                                        <input class="form-control" id="inputFirstName" type="text"
                                            placeholder="Enter your first name" name="first_name"
                                            value="{{ student.first_name }}">
                                    </div>
                                    <!-- Form Group (last name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" id="inputLastName" type="text"
                                            placeholder="Enter your last name" name="last_name"
                                            value="{{ student.last_name }}">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputUsername">Email Address</label>
                                        <input class="form-control" id="inputUsername" type="text"
                                            value="{{ student.username }}" disabled>
                                    </div>

                                    <div class="col-md-6">
                                        <label for="subject" class="form-label">Course</label>
                                        <input type="text" class="form-control" id="subject" name="course"
                                            value="{{ student.course }}" disabled>
                                    </div>
                                </div>

                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (organization name)-->
                                    <div class="col-md-3">
                                        <label class="small mb-1" for="inputLocation">Gender</label>

                                        <select class="form-select form-control" name="gender" id="gender">
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>

                                        </select>
                                    </div>
                                    <!-- Form Group (location)-->
                                    <div class="col-md-3">
                                        <label class="small mb-1" for="inputLocation">Highscool</label>
                                        <input class="form-control" id="inputLocation" type="text"
                                            placeholder="Highscool Percentage %" disabled
                                            value="{{ student.tenth }}%">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="small mb-1" for="inputLocation">Intermediate</label>
                                        <input class="form-control" id="inputLocation" type="text"
                                            placeholder="Intermediate Percentage %" disabled
                                            value="{{ student.twelfth }}%">
                                    </div>
                                    <div class="col-md-3">
                                        <label class="small mb-1" for="inputLocation">Current CGPA</label>
                                        <input class="form-control" id="inputLocation" type="text"
                                            placeholder="Current CGPA (out of 10)" disabled
                                            value="{{ student.cgpa }}">
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">LinkedIn</label>
                                    <input class="form-control" id="inputUsername" type="text" name="linkedin_id"
                                        value="{{ student.linkedin_id }}">
                                </div>


                                <div class="mb-3">
                                    <label class="small mb-1" for="inputUsername">GitHub</label>
                                    <input class="form-control" id="inputUsername" type="text" name="github_id"
                                        value="{{ student.github_id }}">
                                </div>

                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (phone number)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone number</label>
                                        <input class="form-control" id="inputPhone" type="tel"
                                            placeholder="Enter your phone number" name="phone_number"
                                            value="{{ student.phone_number }}">
                                    </div>
                                    <!-- Form Group (birthday)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputBirthday">Date of joining</label>
                                        <input class="form-control" id="inputBirthday" type="text"
                                            value="{{ student.date_joined }}" disabled>
                                    </div>
                                </div>
                                <!-- Save changes button-->
                                <button class="btn btn-success w-100" type="submit">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}