{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>GLA University</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'home/assets/img/favicon.png" rel="icon">
  <link href="{% static 'home/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'home/assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'home/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'home/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'home/assets/css/style.css' %}" rel="stylesheet">


  <style>
    @media (max-width: 304px) {
      #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #navbar ul {
        margin: 0;
        padding: 0;
      }

      #navbar ul li {
        margin-bottom: 10px;
        /* Adjust spacing between navigation links */
      }

      .header-social-links {
        display: none;
        /* Hide social links on smaller screens */
      }

      .mobile-nav-toggle {
        display: block;
        /* Show mobile navigation toggle on smaller screens */
      }
    }

    .alert {
      padding: 1%;
      margin: 2%;
      background-color: #43A89F;
      color: rgb(0, 0, 0);
    }
    ​
    .closebtn {
      color: white;
      font-weight: bold;
      float: right;
      font-size: 29px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;

    }
    ​
    .closebtn:hover {
      color: black;
    }
  </style>
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <h1>
          <a href="{% url 'home' %}">
            <img src="{% static 'home/assets/img/logo2.png' %}" alt="Lumia Logo"
              style="width: 100%;">
          </a>
        </h1>
      </div>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>


      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex align-items-center">
      <a href="https://www.facebook.com/profile.php?id=61552790286215" class="facebook"><i
          class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/alumniassociationgla/" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/groups/4993377/" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
    </div>

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to GLA University</h1>
      <h2></h2>
      <a href="{% url 'login' %}" class="btn-get-started scrollto">Login</a>
      &nbsp;
      <a href="{% url 'register' %}" class="btn-get-started scrollto">Register</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What We Do Section ======= -->

    {% for message in messages %}

    <div class="alert">
      <strong>Thank You</strong> {{ message }}
      <!-- <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> -->
    </div>

    {% endfor %}
  

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="section-title">
            <h2>About</h2>

          </div>
          <div class="col-lg-6">
            <img src="{% static 'home/assets/img/Glance.jpg' %}" width="100%" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>About GLANCE</h3>
            <p>
              GLANCE, the Mega Alumni Job Fair, is an exceptional opportunity for students of GLA University Mathura to
              connect
              with leading recruiters and explore exciting career prospects. Organized by the Department of Alumni
              Affairs,
              GLANCE promises to be a gateway to professional growth and success, offering a platform for students to
              showcase
              their skills and aspirations.
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Varied job and internship offers.
              </li>
              <li><i class="bx bx-check-double"></i> Interactive events for company insights.
              </li>
              <li><i class="bx bx-check-double"></i> Networking with recruiters and peers.
              </li>
              <li><i class="bx bx-check-double"></i> Personal and professional growth.
              </li>
              <li><i class="bx bx-check-double"></i>Career advancement opportunities.
              </li>

            </ul>

          </div>
        </div>

      </div>
    </section><!-- Recruiters -->
    <div class="container">
      <div class="section-title">
        <h2>Our Recruiters</h2>
      </div>
      <!-- If you want to use the title-section class, add some content to it -->
      <div>
        <h2 class="title-section"></h2>
      </div>
      <div id="recruitersCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-1">
                <img src="{% static 'home/assets/img/recruiter1.png' %}" class="img-fluid" alt="Recruiter 1">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/favicon.png' %}" class="img-fluid" alt="Recruiter 2">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/Glance.jpg' %}" class="img-fluid" alt="Recruiter 3">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/portfolio-details-1.jpg' %}" class="img-fluid" alt="Recruiter 4">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/portfolio-details-3.jpg' %}" class="img-fluid" alt="Recruiter 5">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/institute-overview.jpg' %}" class="img-fluid" alt="Recruiter 6">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/hero-bg.jpg' %}" class="img-fluid" alt="Recruiter 7">
              </div>
              <div class="col-md-3">
                <img src="{% static 'home/assets/img/apple-touch-icon.png' %}" class="img-fluid" alt="Recruiter 8">
              </div>
            </div>
          </div>
          <!-- Add more carousel items with more recruiter logos as needed -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#recruitersCarousel" data-bs-slide="prev"
          style="color: black;">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#recruitersCarousel" data-bs-slide="next"
          style="color: black;">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- =======Recruiters end ======= -->




    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p></p>
        </div>

        <div class="row mt-5 justify-content-center">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>Address: 17km Stone, NH-2, Mathura-Delhi Road, Mathura-281 406 (U.P.) INDIA </p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>glausoftwaresupport@gla.ac.in<br></p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+91-5662-250900<br></p>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="row mt-5 justify-content-center">
          <div class="col-lg-10">

            <form method="post">

              {% csrf_token %}


              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
          
              <div class="text-center">
                <button class="btn btn-success mt-4" type="submit">Send Message</button>
              </div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>GLA University</h3>
            <p>
              Address: 17km Stone, NH-2, Mathura-Delhi Road, Mathura-281 406 (U.P.) INDIA <br><br>
              <strong>Phone:</strong> +91-5662-250900<br>
              <strong>Email:</strong> glausoftwaresupport@gla.ac.in<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 footer-contact">
            <div class="">
              <h4 class="">About Us</h4>
              <p>The Department of Alumni Affairs at GLA University Mathura fosters connections between graduates and
                the alma mater, facilitating networking, mentorship, and career development opportunities. Through
                various events and initiatives, it strengthens the bond between alumni and the university, fostering a
                vibrant and engaged alumni community.</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4 style="text-align: center;">Social Media</h4>
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
              {% comment %} <a href="http://glauniversity.in:8095/" class="website"><i class="bx bxl"></i></a> {% endcomment %}
              <a href="https://www.facebook.com/profile.php?id=61552790286215" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/alumniassociationgla/" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <a href="https://www.linkedin.com/groups/4993377/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'home/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'home/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'home/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'home/assets/js/main.js' %}"> </script>

</body>

</html>