Glance-2.0-Final/.env
glance/.env
media/
.*pyc
home/__pycache__/git rm --cached .env

accounts/__pycache__/
glance/__pycache__/
student/__pycache__/
administration/__pycache__/

accounts/migrations/__pycache__/
home/migrations/__pycache__/
student/migrations/__pycache__/
